<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product 
		Id="*" 
		Name="AppInstaller" 
		Language="1033" 
		Version="1.0.0.0" 
		Manufacturer="My Company" 
		UpgradeCode="0f7c4cb0-0a66-42a3-966f-6dbe42b6ce15">
		
		<Package 
			InstallerVersion="200" 
			Compressed="yes" 
			InstallScope="perMachine"/>

		<MajorUpgrade 
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		
		<MediaTemplate
          EmbedCab="yes"/>

		<Feature 
			Id="ProductFeature" 
			Title="AppInstaller" 
			Level="1">
			
			<ComponentGroupRef 
				Id="AppComponents"/>
			<ComponentRef 
				Id="AppShortcut" />
			<ComponentRef
				Id="DesktopShortcut" />
		</Feature>

		<Icon
		 Id="MyIcon.ico"
		 SourceFile="$(var.SolutionDir)src\AppInstaller\myIcon.ico" />
	</Product>

	<Fragment>
		<Directory 
			Id="TARGETDIR" 
			Name="SourceDir">
			
			<Directory 
				Id="ProgramFilesFolder">
				<Directory 
					Id="INSTALLFOLDER" 
					Name="AppFolder" />
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ProgramMenuDir" Name="My Company"/>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop">
				
			</Directory>
		</Directory>

		<DirectoryRef 
			Id="ProgramMenuDir">
			<Component 
				Id="AppShortcut" 
				Guid="{882F49F7-3F94-4DED-9796-15A3511AED4C}">			
				<RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\MyCompany\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef
			Id="DesktopFolder">
			<Component
				Id="DesktopShortcut"
				Guid="{CB37A0BC-17F2-42DF-BA54-BE99CACC8C07}">
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\MyCompany\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup 
			Id="AppComponents" 
			Directory="INSTALLFOLDER">
			
			<Component 
				Id="DemoAppExe"
				Guid="{003339C2-1B02-47BF-B493-AC4F092AB8F5}">

				<File
					Id="DemoApp_Exe"
					Source="$(var.SolutionDir)src\bin\$(var.Configuration)\net6.0-windows\DemoApp.exe"
					KeyPath="yes">

					<Shortcut
					Id="ApplicationStartMenuShortcut"
					Directory="ProgramMenuDir"
					Name="My Application Name"
				    Description="My Application Description"
					WorkingDirectory="APPLICATIONROOTDIRECTORY"
					Icon="MyIcon.ico"
                    Advertise="yes"
					Arguments="ArgsFromWix"/>

					<Shortcut
					Id="ADesktopShortcut"
					Directory="DesktopFolder"
					Name="Args"
				    Description="My Application Description"
					WorkingDirectory="APPLICATIONROOTDIRECTORY"
					Icon="MyIcon.ico"
                    Advertise="yes"
					Arguments="/ARGS"/>

					<Shortcut
					Id="AnotherDesktopShortcut"
					Directory="DesktopFolder"
					Name="More Args"
				    Description="My Application Description"
					WorkingDirectory="APPLICATIONROOTDIRECTORY"
					Icon="MyIcon.ico"
                    Advertise="yes"
					Arguments="/MOREARGS"/>
				</File>
				
			</Component>

			<Component
				Id="DemoAppdll"
				Guid="{13023AAE-6A6C-4145-BBF0-909FD4B4C181}">

				<File
					Id="DemoApp_dll"
					Source="$(var.SolutionDir)src\bin\$(var.Configuration)\net6.0-windows\DemoApp.dll"
					KeyPath="yes"/>

			</Component>

		<Component
				Id="DemoAppruntimeconfigjson"
				Guid="{CA30EAAD-4EA8-4CD3-ADFE-ED5052730AF0}">

				<File
					Id="DemoApp_runtimeconfig_json"
					Source="$(var.SolutionDir)src\bin\$(var.Configuration)\net6.0-windows\DemoApp.runtimeconfig.json"
					KeyPath="yes"/>

			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
